# Transformacao de dados

## Utilizando o pacote `nycflights13`

Importando e visualizando as primeiras linhas:

In [9]:
suppressWarnings(library("dplyr"))
suppressWarnings(library("nycflights13"))

head(flights)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

### Comando `filter()`

In [12]:
dados_filtrados <- flights %>% filter(month == 11 | month == 12)
head(dados_filtrados)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 11    1     5      2359             6       352       345
2 2013 11    1    35      2250           105       123      2356
3 2013 11    1   455       500            -5       641       651
4 2013 11    1   539       545            -6       856       827
5 2013 11    1   542       545            -3       831       855
6 2013 11    1   549       600           -11       912       923
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   7       B6       745   N568JB  JFK    PSE  205      1617     23   59
2  87       B6      1816   N353JB  JFK    SYR   36       209     22   50
3 -10       US      1895   N192UW  EWR    CLT   88       529      5    0
4  29       UA      1714   N38727  LGA    IAH  229      1416      5   45
5 -24       AA      2243   N5CLAA  JFK    MIA  147      1089      5   45
6 -11       UA       303   N595UA  JFK    SFO  359      2586      6    0
  time_hour
1 2013-11-01 23:00:00
2 2013-11-01 22:00:00
3 2013-11-01 05:00:00
4 2013-11-01 05:00:00
5 2013-11-01 05:00:00
6 2013-11-01 06:00:00

### Comando `arrange()`

Ordenada os dados em relação a uma ou mais colunas.

In [13]:
dados_filtrados <- flights %>% arrange(air_time)
head(dados_filtrados)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013  1    16  1355     1315            40       1442     1411
2 2013  4    13   537      527            10        622      628
3 2013 12     6   922      851            31       1021      954
4 2013  2     3  2153     2129            24       2247     2224
5 2013  2     5  1303     1315           -12       1342     1411
6 2013  2    12  2123     2130            -7       2211     2225
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  31       EV      4368   N16911  EWR    BDL  20       116      13   15
2  -6       EV      4631   N12167  EWR    BDL  20       116       5   27
3  27       EV      4276   N27200  EWR    BDL  21       116       8   51
4  23       EV      4619   N13913  EWR    PHL  21        80      21   29
5 -29       EV      4368   N13955  EWR    BDL  21       116      13   15
6 -14       EV      4619   N12921  EWR    PHL  21        80      21   30
  time_hour
1 2013-01-16 13:00:00
2 2013-04-13 05:00:00
3 2013-12-06 08:00:00
4 2013-02-03 21:00:00
5 2013-02-05 13:00:00
6 2013-02-12 21:00:00

### Comando `select()`

In [14]:
dados_filtrados <- flights %>% select(year, month, time_hour)
head(dados_filtrados)

  year month time_hour
1 2013 1     2013-01-01 05:00:00
2 2013 1     2013-01-01 05:00:00
3 2013 1     2013-01-01 05:00:00
4 2013 1     2013-01-01 05:00:00
5 2013 1     2013-01-01 06:00:00
6 2013 1     2013-01-01 05:00:00

### Comando `mutate()`

In [20]:
dados_filtrados <- flights %>% mutate(month_name = c("Janeiro", "Fevereiro", "Março", 
    "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", 
    "Dezembro")[month])
head(dados_filtrados)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour           month_name
1 2013-01-01 05:00:00 Janeiro
2 2013-01-01 05:00:00 Janeiro
3 2013-01-01 05:00:00 Janeiro
4 2013-01-01 05:00:00 Janeiro
5 2013-01-01 06:00:00 Janeiro
6 2013-01-01 05:00:00 Janeiro