# Exercício 1

Importanto o pacote `dplyr` e a base de dados `imdb.rds`

In [2]:
suppressPackageStartupMessages(library(dplyr))

imdb <- readr::read_rds("imdb.rds")
head(imdb)

  titulo                                    ano  diretor           duracao
1 Avatar                                    2009 James Cameron     178
2 Pirates of the Caribbean: At World's End  2007 Gore Verbinski    169
3 The Dark Knight Rises                     2012 Christopher Nolan 164
4 John Carter                               2012 Andrew Stanton    132
5 Spider-Man 3                              2007 Sam Raimi         156
6 Tangled                                   2010 Nathan Greno      100
  cor   generos                                                   pais
1 Color Action|Adventure|Fantasy|Sci-Fi                           USA
2 Color Action|Adventure|Fantasy                                  USA
3 Color Action|Thriller                                           USA
4 Color Action|Adventure|Sci-Fi                                   USA
5 Color Action|Adventure|Romance                                  USA
6 Color Adventure|Animation|Comedy|Family|Fantasy|Musical|Romance USA
  classificacao       orcamento receita   nota_imdb likes_facebook ator_1
1 A partir de 13 anos 237000000 760505847 7.9        33000         CCH Pounder
2 A partir de 13 anos 300000000 309404152 7.1            0         Johnny Depp
3 A partir de 13 anos 250000000 448130642 8.5       164000         Tom Hardy
4 A partir de 13 anos 263700000  73058679 6.6        24000         Daryl Sabara
5 A partir de 13 anos 258000000 336530303 6.2            0         J.K. Simmons
6 Livre               260000000 200807262 7.8        29000         Brad Garrett
  ator_2           ator_3
1 Joel David Moore Wes Studi
2 Orlando Bloom    Jack Davenport
3 Christian Bale   Joseph Gordon-Levitt
4 Samantha Morton  Polly Walker
5 James Franco     Kirsten Dunst
6 Donna Murphy     M.C. Gainey

## Exercícios 7.2.1

1) A função `glimpse()` oferece um resumo dos dados.

In [2]:
glimpse(imdb)

Rows: 3,807
Columns: 15
$ titulo         <chr> "Avatar ", "Pirates of the Caribbean: At World's End ",…
$ ano            <int> 2009, 2007, 2012, 2012, 2007, 2010, 2015, 2016, 2006, 2…
$ diretor        <chr> "James Cameron", "Gore Verbinski", "Christopher Nolan",…
$ duracao        <int> 178, 169, 164, 132, 156, 100, 141, 183, 169, 151, 150, …
$ cor            <chr> "Color", "Color", "Color", "Color", "Color", "Color", "…
$ generos        <chr> "Action|Adventure|Fantasy|Sci-Fi", "Action|Adventure|Fa…
$ pais           <chr> "USA", "USA", "USA", "USA", "USA", "USA", "USA", "USA",…
$ classificacao  <chr> "A partir de 13 anos", "A partir de 13 anos", "A partir…
$ orcamento      <int> 237000000, 300000000, 250000000, 263700000, 258000000, …
$ receita        <int> 760505847, 309404152, 448130642, 73058679, 336530303, 2…
$ nota_imdb      <dbl> 7.9, 7.1, 8.5, 6.6, 6.2, 7.8, 7.5, 6.9, 6.1, 7.3, 6.5, …
$ likes_facebook <int> 33000, 0, 164000, 24000, 0, 29000, 118000, 197000, 0, 5…
$ ator_1         <chr> "CCH Pounder", "Johnny Depp", "Tom Hardy", "Daryl Sabar…
$ ator_2         <chr> "Joel David Moore", "Orlando Bloom", "Christian Bale", …
$ ator_3         <chr> "Wes Studi", "Jack Davenport", "Joseph Gordon-Levitt", …

2)

In [3]:
imdb_simples <- imdb %>% select(titulo, diretor, orcamento)
head(imdb_simples)

  titulo                                    diretor           orcamento
1 Avatar                                    James Cameron     237000000
2 Pirates of the Caribbean: At World's End  Gore Verbinski    300000000
3 The Dark Knight Rises                     Christopher Nolan 250000000
4 John Carter                               Andrew Stanton    263700000
5 Spider-Man 3                              Sam Raimi         258000000
6 Tangled                                   Nathan Greno      260000000

3)

In [5]:
imdb_atores <- imdb %>% select(contains("ator"))
head(imdb_atores)

  ator_1       ator_2           ator_3
1 CCH Pounder  Joel David Moore Wes Studi
2 Johnny Depp  Orlando Bloom    Jack Davenport
3 Tom Hardy    Christian Bale   Joseph Gordon-Levitt
4 Daryl Sabara Samantha Morton  Polly Walker
5 J.K. Simmons James Franco     Kirsten Dunst
6 Brad Garrett Donna Murphy     M.C. Gainey

4)

In [14]:
names(imdb %>% select(titulo:likes_facebook))
names(imdb %>% select(!contains("ator")))
names(imdb %>% select(1:12))
names(imdb %>% select(!starts_with("ator")))
names(imdb %>% select(-ator_1, -ator_2, -ator_3))

 [1] "titulo"         "ano"            "diretor"        "duracao"
 [5] "cor"            "generos"        "pais"           "classificacao"
 [9] "orcamento"      "receita"        "nota_imdb"      "likes_facebook"

 [1] "titulo"         "ano"            "diretor"        "duracao"
 [5] "cor"            "generos"        "pais"           "classificacao"
 [9] "orcamento"      "receita"        "nota_imdb"      "likes_facebook"

 [1] "titulo"         "ano"            "diretor"        "duracao"
 [5] "cor"            "generos"        "pais"           "classificacao"
 [9] "orcamento"      "receita"        "nota_imdb"      "likes_facebook"

 [1] "titulo"         "ano"            "diretor"        "duracao"
 [5] "cor"            "generos"        "pais"           "classificacao"
 [9] "orcamento"      "receita"        "nota_imdb"      "likes_facebook"

 [1] "titulo"         "ano"            "diretor"        "duracao"
 [5] "cor"            "generos"        "pais"           "classificacao"
 [9] "orcamento"      "receita"        "nota_imdb"      "likes_facebook"

## Exercícios 7.2.2

1)

In [16]:
filmes_ordenados <- imdb %>% arrange(ano, desc(receita))
filmes_ordenados

     titulo                                            ano  diretor
1    Intolerance: Love's Struggle Throughout the Ages  1916 D.W. Griffith
2    Over the Hill to the Poorhouse                    1920 Harry F. Millarde
3    The Big Parade                                    1925 King Vidor
4    The Broadway Melody                               1929 Harry Beaumont
5    Hell's Angels                                     1930 Howard Hughes
6    A Farewell to Arms                                1932 Frank Borzage
7    42nd Street                                       1933 Lloyd Bacon
8    She Done Him Wrong                                1933 Lowell Sherman
9    It Happened One Night                             1934 Frank Capra
10   Top Hat                                           1935 Mark Sandrich
11   Modern Times                                      1936 Charles Chaplin
12   The Charge of the Light Brigade                   1936 Michael Curtiz
13   Snow White and the Seven Dwarfs                   1937 William Cottrell
14   The Prisoner of Zenda                             1937 John Cromwell
15   Alexander's Ragtime Band                          1938 Henry King
16   You Can't Take It with You                        1938 Frank Capra
17   Gone with the Wind                                1939 Victor Fleming
18   The Wizard of Oz                                  1939 Victor Fleming
19   Mr. Smith Goes to Washington                      1939 Frank Capra
20   Pinocchio                                         1940 Norman Ferguson
21   Fantasia                                          1940 James Algar
22   Boom Town                                         1940 Jack Conway
23   Rebecca                                           1940 Alfred Hitchcock
24   The Blue Bird                                     1940 Walter Lang
25   How Green Was My Valley                           1941 John Ford
26   Bambi                                             1942 James Algar
27   Casablanca                                        1942 Michael Curtiz
28   A Guy Named Joe                                   1943 Victor Fleming
29   Bathing Beauty                                    1944 George Sidney
30   State Fair                                        1945 Walter Lang
⋮    ⋮                                                 ⋮    ⋮
3778 The Player                                        NA   NA
3779 Fargo                                             NA   NA
3780 Buffy the Vampire Slayer                          NA   NA
3781 Nikita                                            NA   NA
3782 Dark Angel                                        NA   NA
3783 Veronica Mars                                     NA   NA
3784 Saving Grace                                      NA   NA
3785 Psych                                             NA   NA
3786 Secrets and Lies                                  NA   NA
3787 Animal Kingdom                                    NA   NA
3788 Saving Grace                                      NA   NA
3789 Sonny with a Chance                               NA   NA
3790 M*A*S*H                                           NA   NA
3791 Empire                                            NA   NA
3792 Robot Chicken                                     NA   NA
3793 Creature                                          NA   NA
3794 BrainDead                                         NA   NA
3795 In the Heat of the Night                          NA   NA
3796 Strangers with Candy                              NA   NA
3797 Get Real                                          NA   NA
3798 Eureka                                            NA   NA
3799 Wings                                             NA   NA
3800 The Streets of San Francisco                      NA   NA
3801 Space: Above and Beyond                           NA   NA
3802 The Girlfriend Experience                         NA   NA
3803 Jesse                                             NA   NA
3804 Heroes                                            NA   NA
3805 Home Movies                                       NA   NA
3806 Revolution                                        NA   NA
3807 The Following                                     NA   NA
     duracao cor             generos                              pais
1    123     Black and White Drama|History|War                    USA
2    110     Black and White Crime|Drama                          USA
3    151     Black and White Drama|Romance|War                    USA
4    100     Black and White Musical|Romance                      USA
5     96     Black and White Drama|War                            USA
6     79     Black and White Drama|Romance|War                    USA
7     89     Black and White Comedy|Musical|Romance               USA
8     66     Black and White Comedy|Drama|History|Musical|Romance USA
9     65     Black and White Comedy|Romance                       USA
10    81     Black and White Comedy|Musical|Romance               USA
11    87     Black and White Comedy|Drama|Family                  USA
12   100     Black and White Action|Adventure|Romance|War         USA
13    83     Color           Animation|Family|Fantasy|Musical     USA
14   101     Black and White Adventure|Drama|Romance              USA
15   106     Black and White Drama|Musical|Romance                USA
16   126     Black and White Comedy|Drama|Romance                 USA
17   226     Color           Drama|History|Romance|War            USA
18   102     Black and White Adventure|Family|Fantasy|Musical     USA
19   120     Black and White Comedy|Drama                         USA
20    88     Color           Animation|Family|Fantasy|Musical     USA
21   120     Color           Animation|Family|Fantasy|Music       USA
22   119     Black and White Adventure|Drama|Romance|Western      USA
23   130     Black and White Drama|Film-Noir|Mystery|Thriller     USA
24    83     Black and White Drama|Family|Fantasy                 USA
25   118     Black and White Drama|Family                         USA
26    70     Color           Animation|Drama|Family               USA
27    82     Color           Drama|Romance|War                    USA
28   122     Black and White Drama|Fantasy|Romance|War            USA
29   101     Color           Comedy|Musical                       USA
30   100     Color           Musical|Romance                      USA
⋮    ⋮       ⋮               ⋮                                    ⋮
3778  60     Color           Action|Crime|Drama|Thriller          USA
3779  53     Color           Crime|Drama|Thriller                 USA
3780  44     Color           Action|Drama|Fantasy|Romance         USA
3781  60     Color           Action|Crime|Drama|Thriller          USA
3782  60     Color           Action|Drama|Mystery|Sci-Fi          USA
3783  44     Color           Crime|Drama|Mystery                  USA
3784  60     Color           Drama|Fantasy                        USA
3785  44     Color           Comedy|Crime|Mystery                 USA
3786  43     Color           Crime|Drama                          USA
3787  60     Color           Crime|Drama                          USA
3788  60     Color           Drama|Fantasy                        USA
3789  23     Color           Comedy|Family|Romance                USA
3790  25     Color           Comedy|Drama|War                     USA
3791  42     Color           Drama|Music                          USA
3792  11     Color           Animation|Comedy                     USA
3793 173     Color           Horror|Sci-Fi|Thriller               USA
3794  44     Color           Comedy|Drama|Horror|Sci-Fi|Thriller  USA
3795  60     Color           Crime|Drama|Mystery                  USA
3796  22     Color           Comedy                               USA
3797  60     Color           Comedy|Drama|Romance                 USA
3798  60     Color           Comedy|Drama|Sci-Fi                  USA
3799  30     Color           Comedy|Drama                         USA
3800 120     Color           Action|Crime|Drama|Mystery           USA
3801  60     Color           Drama|Sci-Fi                         USA
3802  27     Color           Drama                                USA
3803  30     Color           Comedy                               USA
3804  60     Color           Drama|Fantasy|Sci-Fi|Thriller        USA
3805  22     Color           Animation|Comedy|Drama               USA
3806  43     Color           Action|Adventure|Drama|Sci-Fi        USA
3807  43     Color           Crime|Drama|Mystery|Thriller         USA
     classificacao orcamento receita   nota_imdb likes_facebook
1    Outros         385907          NA 8.0         691
2    Outros         100000     3000000 4.8           0
3    Outros         245000          NA 8.3         226
4    Outros         379000     2808000 6.3         167
5    Outros        3950000          NA 7.8         279
6    Outros         800000          NA 6.6         213
7    Outros         439000     2300000 7.7         439
8    Outros         200000          NA 6.5         328
9    Outros         325000          NA 8.2           0
10   Outros         609000     3000000 7.8        1000
11   Outros        1500000      163245 8.6           0
12   Outros        1200000          NA 7.1         204
13   Outros        2000000   184925485 7.7           0
14   Outros             NA          NA 7.8         337
15   Outros        2000000          NA 7.0          60
16   Outros        1644736          NA 8.0           0
17   Outros        3977000   198655278 8.2       16000
18   Outros        2800000    22202612 8.1       14000
19   Outros        1500000          NA 8.2           0
20   Outros        2600000    84300000 7.5           0
21   Outros        2280000    76400000 7.8        3000
22   Outros        1614000          NA 7.1         236
23   Outros        1288000          NA 8.2           0
24   Outros             NA          NA 6.5         548
25   Outros        1250000          NA 7.8           0
26   Outros             NA   102797150 7.4           0
27   Livre          950000          NA 8.6       23000
28   Outros        2627000          NA 7.0         116
29   Outros        2361000          NA 6.5         144
30   Outros             NA          NA 7.1         501
⋮    ⋮             ⋮         ⋮         ⋮         ⋮
3778 Outros             NA   NA        7.1           0
3779 Outros             NA   NA        9.0       61000
3780 Outros        2300000   NA        8.2        6000
3781 Outros             NA   NA        7.7           0
3782 Outros             NA   NA        7.4           0
3783 Outros             NA   NA        8.4           0
3784 Outros             NA   NA        7.5         634
3785 Outros             NA   NA        8.4           0
3786 Outros             NA   NA        7.7        2000
3787 Outros             NA   NA        8.1           0
3788 Outros             NA   NA        7.5         634
3789 Outros             NA   NA        6.1         325
3790 Outros             NA   NA        8.4           0
3791 Outros             NA   NA        7.8       14000
3792 Outros             NA   NA        7.8        1000
3793 Outros             NA   NA        5.0         518
3794 Outros             NA   NA        7.9        3000
3795 Outros             NA   NA        7.4         763
3796 Outros             NA   NA        8.1         558
3797 Outros             NA   NA        7.3          43
3798 Outros             NA   NA        7.9        3000
3799 Outros             NA   NA        7.3        1000
3800 Outros             NA   NA        7.3         533
3801 Outros        5000000   NA        7.7         963
3802 Outros             NA   NA        7.3         632
3803 Outros             NA   NA        5.9          57
3804 Outros             NA   NA        7.7           0
3805 Outros             NA   NA        8.2         526
3806 Outros             NA   NA        6.7       17000
3807 Outros             NA   NA        7.5       32000
     ator_1                ator_2                ator_3
1    Lillian Gish          Mae Marsh             Walter Long
2    Stephen Carr          Johnnie Walker        Mary Carr
3    John Gilbert          Renée Adorée          Claire Adams
4    Anita Page            Bessie Love           Charles King
5    Jean Harlow           Marian Marsh          James Hall
6    Gary Cooper           Helen Hayes           Adolphe Menjou
7    Ginger Rogers         Dick Powell           George Brent
8    Mae West              Gilbert Roland        Louise Beavers
9    Claudette Colbert     Alan Hale             Walter Connolly
10   Ginger Rogers         Edward Everett Horton Eric Blore
11   Paulette Goddard      Stanley Blystone      Fred Malatesta
12   Errol Flynn           David Niven           Spring Byington
13   Adriana Caselotti     Billy Gilbert         Lucille La Verne
14   David Niven           Mary Astor            Ronald Colman
15   Tyrone Power          Don Ameche            John Carradine
16   Jean Arthur           Ann Miller            Lionel Barrymore
17   Hattie McDaniel       George Reeves         Thomas Mitchell
18   Margaret Hamilton     Terry                 Billie Burke
19   Claude Rains          Jean Arthur           Thomas Mitchell
20   Mel Blanc             Dickie Jones          Cliff Edwards
21   Leopold Stokowski     Deems Taylor          NA
22   Hedy Lamarr           Spencer Tracy         Claudette Colbert
23   Laurence Olivier      Joan Fontaine         George Sanders
24   Spring Byington       Nigel Bruce           Gale Sondergaard
25   Roddy McDowall        Walter Pidgeon        Barry Fitzgerald
26   Sam Edwards           Donnie Dunagan        Ann Gillis
27   Humphrey Bogart       Claude Rains          Conrad Veidt
28   Spencer Tracy         Esther Williams       Irene Dunne
29   Esther Williams       Basil Rathbone        Red Skelton
30   Dana Andrews          Jeanne Crain          Frank McHugh
⋮    ⋮                     ⋮                     ⋮
3778 Nick Wechsler         Philip Winchester     Jeff Marlow
3779 Kirsten Dunst         Adam Goldberg         Oliver Platt
3780 Sarah Michelle Gellar Alyson Hannigan       Emma Caulfield
3781 Melinda Clarke        Xander Berkeley       Aaron Stanford
3782 Jensen Ackles         Ashley Scott          John Savage
3783 Francis Capra         Jason Dohring         Enrico Colantoni
3784 Holly Hunter          Dylan Minnette        Bokeem Woodbine
3785 Corbin Bernsen        Dulé Hill             Timothy Omundson
3786 Dan Fogler            Indiana Evans         KaDee Strickland
3787 Dorian Missick        Daniella Alonso       Ellen Barkin
3788 Holly Hunter          Dylan Minnette        Bokeem Woodbine
3789 Doug Brochu           Tiffany Thornton      Brandon Mychal Smith
3790 David Ogden Stiers    Jamie Farr            Mike Farrell
3791 Ta'Rhonda Jones       Gabourey Sidibe       Malik Yoba
3792 Matthew Senreich      Seth Green            Breckin Meyer
3793 Craig T. Nelson       Colm Feore            Megalyn Echikunwoke
3794 Danny Pino            Megan Hilty           Zach Grenier
3795 Carroll O'Connor      Alan Autry            Crystal R. Fox
3796 Stephen Colbert       Amy Sedaris           Maria Thayer
3797 Anne Hathaway         Jon Tenney            Debrah Farentino
3798 Joe Morton            Colin Ferguson        Salli Richardson-Whitfield
3799 Steven Weber          Tim Daly              Amy Yasbeck
3800 Karl Malden           Michael Douglas       NA
3801 James Morrison        Tucker Smallwood      Kristen Cloke
3802 Mary Lynn Rajskub     Riley Keough          Paul Sparks
3803 Eric Lloyd            David DeLuise         Bruno Campos
3804 Sendhil Ramamurthy    Masi Oka              Greg Grunberg
3805 Brendon Small         Ron Lynch             Melissa Bardin Galsky
3806 Billy Burke           Tracy Spiridakos      David Lyons
3807 Natalie Zea           Valorie Curry         Sam Underwood

2)

In [17]:
filmes_ordenados_2 <- imdb %>% arrange(desc(orcamento)) %>% select(titulo, orcamento)
head(filmes_ordenados_2)

  titulo                                    orcamento
1 Pirates of the Caribbean: At World's End  300000000
2 John Carter                               263700000
3 Tangled                                   260000000
4 Spider-Man 3                              258000000
5 Spider-Man 3                              258000000
6 The Dark Knight Rises                     250000000

## Exercícios 7.2.4

1)

In [35]:
filmes_pb <- imdb %>% filter(cor == "Black and White")
head(filmes_pb)

  titulo        ano  diretor          duracao cor
1 Pearl Harbor  2001 Michael Bay      184     Black and White
2 The Aviator   2004 Martin Scorsese  170     Black and White
3 Ali           2001 Michael Mann     165     Black and White
4 Eragon        2006 Stefen Fangmeier 104     Black and White
5 Seabiscuit    2003 Gary Ross        140     Black and White
6 Bewitched       NA NA                25     Black and White
  generos                          pais classificacao       orcamento receita
1 Action|Drama|History|Romance|War USA  A partir de 13 anos 140000000 198539855
2 Biography|Drama                  USA  A partir de 13 anos 110000000 102608827
3 Biography|Drama|Sport            USA  A partir de 18 anos 107000000  58183966
4 Action|Adventure|Family|Fantasy  USA  Livre               100000000  75030163
5 Drama|History|Sport              USA  A partir de 13 anos  87000000 120147445
6 Comedy|Family|Fantasy            USA  Outros                     NA        NA
  nota_imdb likes_facebook ator_1               ator_2
1 6.1       0              Jennifer Garner      Jaime King
2 7.5       0              Leonardo DiCaprio    Adam Scott
3 6.8       0              Will Smith           Jada Pinkett Smith
4 5.1       0              Djimon Hounsou       Ed Speleers
5 7.3       0              Jeff Bridges         Michael Angarano
6 7.6       0              Elizabeth Montgomery Agnes Moorehead
  ator_3
1 Mako
2 Frances Conroy
3 Joe Morton
4 Gary Lewis
5 Michael O'Neill
6 Dick York

2)

In [25]:
curtas_legais <- imdb %>% filter(duracao <= 90 & nota_imdb > 8.5)
head(curtas_legais)

  titulo                             ano diretor duracao cor
1 Hannibal                           NA  NA      44      Color
2 Daredevil                          NA  NA      54      NA
3 Friday Night Lights                NA  NA      44      Color
4 The Honeymooners                   NA  NA      30      Black and White
5 It's Always Sunny in Philadelphia  NA  NA      22      Color
6 Spartacus: War of the Damned       NA  NA      55      Color
  generos                                      pais classificacao orcamento
1 Crime|Drama|Horror|Mystery|Thriller          USA  Outros        NA
2 Action|Adventure|Crime|Drama|Sci-Fi|Thriller USA  Outros        NA
3 Drama|Sport                                  USA  Outros        NA
4 Comedy|Family                                USA  Outros        NA
5 Comedy                                       USA  Outros        NA
6 Action|Adventure|Biography|Drama|History     USA  Outros        NA
  receita nota_imdb likes_facebook ator_1             ator_2
1 NA      8.6       59000          Caroline Dhavernas Scott Thompson
2 NA      8.8       55000          Elden Henson       Royce Johnson
3 NA      8.7           0          Zach Gilford       Aimee Teegarden
4 NA      8.7         459          Jackie Gleason     Art Carney
5 NA      8.8           0          Rob McElhenney     Kaitlin Olson
6 NA      8.6       31000          Peter Mensah       Kelvin Taylor
  ator_3
1 Hettienne Park
2 Charlie Cox
3 Scott Porter
4 Joyce Randolph
5 Glenn Howerton
6 Viva Bianca

3) a)

In [36]:
head(imdb %>% filter(cor == "Color" & ano < 1950))

  titulo              ano  diretor           duracao cor
1 Pinocchio           1940 Norman Ferguson    88     Color
2 Duel in the Sun     1946 King Vidor        144     Color
3 Tycoon              1947 Richard Wallace    95     Color
4 State Fair          1945 Walter Lang       100     Color
5 Gone with the Wind  1939 Victor Fleming    226     Color
6 The Pirate          1948 Vincente Minnelli 102     Color
  generos                          pais classificacao orcamento receita
1 Animation|Family|Fantasy|Musical USA  Outros        2600000    84300000
2 Drama|Romance|Western            USA  Outros        8000000    20400000
3 Adventure|Drama|Romance          USA  Outros        3209000          NA
4 Musical|Romance                  USA  Outros             NA          NA
5 Drama|History|Romance|War        USA  Outros        3977000   198655278
6 Adventure|Comedy|Musical|Romance USA  Outros        3700000     2956000
  nota_imdb likes_facebook ator_1          ator_2        ator_3
1 7.5           0          Mel Blanc       Dickie Jones  Cliff Edwards
2 6.9         403          Joseph Cotten   Lillian Gish  Jennifer Jones
3 6.2          44          Judith Anderson Paul Fix      Laraine Day
4 7.1         501          Dana Andrews    Jeanne Crain  Frank McHugh
5 8.2       16000          Hattie McDaniel George Reeves Thomas Mitchell
6 7.1         359          Gladys Cooper   Reginald Owen Ellen Ross

b)

In [37]:
head(imdb %>% filter(diretor %in% c("Woody Allen", "Wes Anderson")))

  titulo                              ano  diretor      duracao cor
1 The Life Aquatic with Steve Zissou  2004 Wes Anderson 119     Color
2 Fantastic Mr. Fox                   2009 Wes Anderson  87     Color
3 The Grand Budapest Hotel            2014 Wes Anderson  99     Color
4 The Royal Tenenbaums                2001 Wes Anderson 110     Color
5 The Curse of the Jade Scorpion      2001 Woody Allen  103     Color
6 To Rome with Love                   2012 Woody Allen  112     Color
  generos                                 pais classificacao       orcamento
1 Adventure|Comedy|Drama                  USA  A partir de 18 anos 50000000
2 Adventure|Animation|Comedy|Crime|Family USA  Livre               40000000
3 Adventure|Comedy|Crime|Drama            USA  A partir de 18 anos 25000000
4 Comedy|Drama                            USA  A partir de 18 anos 21000000
5 Comedy|Crime|Mystery|Romance            USA  A partir de 13 anos 26000000
6 Comedy|Romance                          USA  A partir de 18 anos 17000000
  receita  nota_imdb likes_facebook ator_1       ator_2
1 24006726 7.3            0         Bill Murray  Anjelica Huston
2 20999103 7.8        15000         Bill Murray  Meryl Streep
3 59073773 8.1       149000         Bill Murray  Tom Wilkinson
4 52353636 7.6            0         Bill Murray  Anjelica Huston
5  7496522 6.8          826         Woody Allen  Elizabeth Berkley
6 16684352 6.3        18000         Ornella Muti Judy Davis
  ator_3
1 Matthew Gray Gubler
2 Helen McCrory
3 F. Murray Abraham
4 Seymour Cassel
5 Peter Gerety
6 Alessandra Mastronardi

c)

In [38]:
head(imdb %>% filter(diretor == "Steven Spielberg") %>% select(ano, titulo) %>% arrange(desc(ano)))

  ano  titulo
1 2015 Bridge of Spies
2 2012 Lincoln
3 2011 The Adventures of Tintin
4 2011 War Horse
5 2008 Indiana Jones and the Kingdom of the Crystal Skull
6 2005 War of the Worlds

d)

In [40]:
suppressPackageStartupMessages(library("stringr"))

head(imdb %>% filter(str_detect(generos, "Action") | str_detect(generos, "Comedy")))

  titulo                                    ano  diretor           duracao
1 Avatar                                    2009 James Cameron     178
2 Pirates of the Caribbean: At World's End  2007 Gore Verbinski    169
3 The Dark Knight Rises                     2012 Christopher Nolan 164
4 John Carter                               2012 Andrew Stanton    132
5 Spider-Man 3                              2007 Sam Raimi         156
6 Tangled                                   2010 Nathan Greno      100
  cor   generos                                                   pais
1 Color Action|Adventure|Fantasy|Sci-Fi                           USA
2 Color Action|Adventure|Fantasy                                  USA
3 Color Action|Thriller                                           USA
4 Color Action|Adventure|Sci-Fi                                   USA
5 Color Action|Adventure|Romance                                  USA
6 Color Adventure|Animation|Comedy|Family|Fantasy|Musical|Romance USA
  classificacao       orcamento receita   nota_imdb likes_facebook ator_1
1 A partir de 13 anos 237000000 760505847 7.9        33000         CCH Pounder
2 A partir de 13 anos 300000000 309404152 7.1            0         Johnny Depp
3 A partir de 13 anos 250000000 448130642 8.5       164000         Tom Hardy
4 A partir de 13 anos 263700000  73058679 6.6        24000         Daryl Sabara
5 A partir de 13 anos 258000000 336530303 6.2            0         J.K. Simmons
6 Livre               260000000 200807262 7.8        29000         Brad Garrett
  ator_2           ator_3
1 Joel David Moore Wes Studi
2 Orlando Bloom    Jack Davenport
3 Christian Bale   Joseph Gordon-Levitt
4 Samantha Morton  Polly Walker
5 James Franco     Kirsten Dunst
6 Donna Murphy     M.C. Gainey

e)

In [41]:
head(imdb %>% filter(str_detect(generos, "Action") & str_detect(generos, "Comedy") & 
    nota_imdb > 8))

  titulo    ano  diretor    duracao cor
1 Deadpool  2016 Tim Miller 108     Color
  generos                                pais classificacao       orcamento
1 Action|Adventure|Comedy|Romance|Sci-Fi USA  A partir de 18 anos 58000000
  receita   nota_imdb likes_facebook ator_1        ator_2    ator_3
1 363024263 8.1       117000         Ryan Reynolds Ed Skrein Stefan Kapicic

f)

In [44]:
head(imdb %>% filter(is.na(receita) & is.na(orcamento)))

  titulo         ano  diretor           duracao cor
1 The A-Team       NA NA                 60     Color
2 Ben-Hur        2016 Timur Bekmambetov 141     Color
3 Hannibal         NA NA                 44     Color
4 All That Jazz  1979 Bob Fosse         123     Color
5 Daredevil        NA NA                 54     NA
6 Bewitched        NA NA                 25     Black and White
  generos                                      pais classificacao
1 Action|Adventure|Crime                       USA  Outros
2 Adventure|Drama|History                      USA  A partir de 13 anos
3 Crime|Drama|Horror|Mystery|Thriller          USA  Outros
4 Comedy|Drama|Music|Musical                   USA  A partir de 18 anos
5 Action|Adventure|Crime|Drama|Sci-Fi|Thriller USA  Outros
6 Comedy|Family|Fantasy                        USA  Outros
  orcamento receita nota_imdb likes_facebook ator_1
1 NA        NA      7.6           0          George Peppard
2 NA        NA      6.1           0          Morgan Freeman
3 NA        NA      8.6       59000          Caroline Dhavernas
4 NA        NA      7.8           0          Roy Scheider
5 NA        NA      8.8       55000          Elden Henson
6 NA        NA      7.6           0          Elizabeth Montgomery
  ator_2          ator_3
1 Dirk Benedict   Dwight Schultz
2 Ayelet Zurer    Moises Arias
3 Scott Thompson  Hettienne Park
4 Ben Vereen      Max Wright
5 Royce Johnson   Charlie Cox
6 Agnes Moorehead Dick York

## Exercícios 7.2.5

1)

In [52]:
imdb_prejuizo <- imdb %>% mutate(prejuizo = orcamento - receita) %>% filter(prejuizo > 
    0) %>% arrange(prejuizo)
head(imdb_prejuizo)

  titulo          ano  diretor               duracao cor   generos
1 The Horse Boy   2009 Michel Orion Scott     93     Color Documentary
2 Newlyweds       2011 Edward Burns           95     Color Comedy|Drama
3 Shortbus        2006 John Cameron Mitchell 101     Color Comedy|Drama|Romance
4 Slam            1998 Marc Levin            100     Color Drama
5 Pink Narcissus  1971 James Bidgood          65     Color Drama|Fantasy
6 The FP          2011 Brandon Trost          82     Color Comedy
  pais classificacao       orcamento receita nota_imdb likes_facebook
1 USA  Outros               160000    155984 7.4         0
2 USA  Outros                 9000      4584 6.4       413
3 USA  Outros              2000000   1984378 6.5         0
4 USA  A partir de 18 anos 1000000    982214 7.2       603
5 USA  Outros                27000      8231 6.7        85
6 USA  A partir de 18 anos   60000     40557 5.6         0
  ator_1              ator_2             ator_3            prejuizo
1 Temple Grandin      Rowan Isaacson     Simon Baron-Cohen  4016
2 Kerry Bishé         Caitlin FitzGerald Daniella Pineda    4416
3 Sook-Yin Lee        Peter Stickles     Raphael Barker    15622
4 Sonja Sohn          Saul Williams      Bonz Malone       17786
5 Don Brooks          Bobby Kendall      NA                18769
6 Clifton Collins Jr. Sean Whalen        James DeBello     19443

2)

In [59]:
head(imdb %>% mutate(lucro = receita - orcamento, lucro_medio = mean(lucro, na.rm = T), 
    lucro_relativo = (lucro - lucro_medio)/lucro_medio, houve_lucro = ifelse(lucro > 
        0, "sim", "não")))

  titulo                                    ano  diretor           duracao
1 Avatar                                    2009 James Cameron     178
2 Pirates of the Caribbean: At World's End  2007 Gore Verbinski    169
3 The Dark Knight Rises                     2012 Christopher Nolan 164
4 John Carter                               2012 Andrew Stanton    132
5 Spider-Man 3                              2007 Sam Raimi         156
6 Tangled                                   2010 Nathan Greno      100
  cor   generos                                                   pais
1 Color Action|Adventure|Fantasy|Sci-Fi                           USA
2 Color Action|Adventure|Fantasy                                  USA
3 Color Action|Thriller                                           USA
4 Color Action|Adventure|Sci-Fi                                   USA
5 Color Action|Adventure|Romance                                  USA
6 Color Adventure|Animation|Comedy|Family|Fantasy|Musical|Romance USA
  classificacao       orcamento receita   nota_imdb likes_facebook ator_1
1 A partir de 13 anos 237000000 760505847 7.9        33000         CCH Pounder
2 A partir de 13 anos 300000000 309404152 7.1            0         Johnny Depp
3 A partir de 13 anos 250000000 448130642 8.5       164000         Tom Hardy
4 A partir de 13 anos 263700000  73058679 6.6        24000         Daryl Sabara
5 A partir de 13 anos 258000000 336530303 6.2            0         J.K. Simmons
6 Livre               260000000 200807262 7.8        29000         Brad Garrett
  ator_2           ator_3               lucro      lucro_medio lucro_relativo
1 Joel David Moore Wes Studi             523505847 17258230     29.3336921
2 Orlando Bloom    Jack Davenport          9404152 17258230     -0.4550918
3 Christian Bale   Joseph Gordon-Levitt  198130642 17258230     10.4803568
4 Samantha Morton  Polly Walker         -190641321 17258230    -12.0464003
5 James Franco     Kirsten Dunst          78530303 17258230      3.5503103
6 Donna Murphy     M.C. Gainey           -59192738 17258230     -4.4298266
  houve_lucro
1 sim
2 sim
3 sim
4 não
5 sim
6 não

3)

In [63]:
head(imdb %>% mutate(classificacao_ano_lancamento = ifelse(ano > 2000, "recente", 
    "antigo")))

  titulo                                    ano  diretor           duracao
1 Avatar                                    2009 James Cameron     178
2 Pirates of the Caribbean: At World's End  2007 Gore Verbinski    169
3 The Dark Knight Rises                     2012 Christopher Nolan 164
4 John Carter                               2012 Andrew Stanton    132
5 Spider-Man 3                              2007 Sam Raimi         156
6 Tangled                                   2010 Nathan Greno      100
  cor   generos                                                   pais
1 Color Action|Adventure|Fantasy|Sci-Fi                           USA
2 Color Action|Adventure|Fantasy                                  USA
3 Color Action|Thriller                                           USA
4 Color Action|Adventure|Sci-Fi                                   USA
5 Color Action|Adventure|Romance                                  USA
6 Color Adventure|Animation|Comedy|Family|Fantasy|Musical|Romance USA
  classificacao       orcamento receita   nota_imdb likes_facebook ator_1
1 A partir de 13 anos 237000000 760505847 7.9        33000         CCH Pounder
2 A partir de 13 anos 300000000 309404152 7.1            0         Johnny Depp
3 A partir de 13 anos 250000000 448130642 8.5       164000         Tom Hardy
4 A partir de 13 anos 263700000  73058679 6.6        24000         Daryl Sabara
5 A partir de 13 anos 258000000 336530303 6.2            0         J.K. Simmons
6 Livre               260000000 200807262 7.8        29000         Brad Garrett
  ator_2           ator_3               classificacao_ano_lancamento
1 Joel David Moore Wes Studi            recente
2 Orlando Bloom    Jack Davenport       recente
3 Christian Bale   Joseph Gordon-Levitt recente
4 Samantha Morton  Polly Walker         recente
5 James Franco     Kirsten Dunst        recente
6 Donna Murphy     M.C. Gainey          recente

## Exercícios 7.2.6

1)

In [6]:
imdb %>% summarize(media_duracao = mean(duracao, na.rm = T), mediana_duracao = median(duracao, 
    na.rm = T))

  media_duracao mediana_duracao
1 106.4351      103

2)

In [11]:
imdb %>% filter(duracao < 60) %>% mutate(lucro = receita - orcamento) %>% summarize(media_lucro = mean(lucro, 
    na.rm = T))

  media_lucro
1 632454.3

3)

In [18]:
imdb %>% mutate(lucro = receita - orcamento) %>% summarize(media_lucro_menos_60 = mean(lucro[duracao < 
    60], na.rm = T), media_lucro_mais_60 = mean(lucro[duracao >= 60], na.rm = T))

  media_lucro_menos_60 media_lucro_mais_60
1 632454.3             17274472

4) a)

In [23]:
imdb %>% group_by(classificacao) %>% summarise(media_nota_imdb = mean(nota_imdb, 
    na.rm = T))

  classificacao       media_nota_imdb
1 A partir de 13 anos 6.180132
2 A partir de 18 anos 6.466688
3 Livre               6.260932
4 Outros              6.645376

b)

In [30]:
imdb %>% filter(!is.na(receita)) %>% group_by(ano) %>% summarise(media_receita = mean(receita), 
    mediana_receita = median(receita))

   ano  media_receita mediana_receita
1  1920   3000000       3000000
2  1929   2808000       2808000
3  1933   2300000       2300000
4  1935   3000000       3000000
5  1936    163245        163245
6  1937 184925485     184925485
7  1939 110428945     110428945
8  1940  80350000      80350000
9  1942 102797150     102797150
10 1946  22025000      22025000
11 1947      7927          7927
12 1948   2956000       2956000
13 1950   8000000       8000000
14 1952  36000000      36000000
15 1953  20500000      20500000
16 1954   9600000       9600000
17 1959  25000000      25000000
18 1960  32000000      32000000
19 1961  43650000      43650000
20 1963  46300000      46300000
21 1964  58104146      72000000
22 1965  70737790      59861000
23 1969 102308900     102308900
24 1970   9100000       9000000
25 1971  21729410      15180000
26 1972  67501218      67501218
27 1973 119799411     137300000
28 1974  60728433      48426300
29 1975 186000000     186000000
30 1976  71117624      71117624
⋮  ⋮    ⋮             ⋮
41 1987 44511426      30857814
42 1988 40213042      26750842
43 1989 53122618      35267534
44 1990 83382634      64083031
45 1991 53273433      35183792
46 1992 70063092      55473600
47 1993 54065614      27939700
48 1994 66445599      40600250
49 1995 47084154      31968347
50 1996 46252336      26722680
51 1997 51321000      39647595
52 1998 46765454      28079452
53 1999 42636434      22326247
54 2000 46031429      30199105
55 2001 46444631      27087695
56 2002 50634004      30259652
57 2003 55529152      35119761
58 2004 49324872      28165882
59 2005 44099548      26082914
60 2006 45501311      23078294
61 2007 53802004      22466994
62 2008 51919333      30398704
63 2009 56577414      28501651
64 2010 60197472      32549564
65 2011 55669744      37295394
66 2012 67813699      37016050
67 2013 67011274      35266619
68 2014 66125503      42475692
69 2015 74582674      42535352
70 2016 78543564      55461307

c)

In [41]:
imdb %>% filter(!is.na(diretor)) %>% group_by(diretor) %>% count(diretor) %>% filter(n > 
    10)

   diretor              n
1  Barry Levinson       13
2  Clint Eastwood       20
3  Francis Ford Coppola 11
4  John Carpenter       12
5  Kevin Smith          12
6  Martin Scorsese      20
7  Michael Bay          13
8  Renny Harlin         14
9  Ridley Scott         14
10 Rob Cohen            11
11 Rob Reiner           11
12 Robert Rodriguez     12
13 Robert Zemeckis      13
14 Ron Howard           12
15 Sam Raimi            11
16 Shawn Levy           12
17 Spike Lee            16
18 Steven Soderbergh    15
19 Steven Spielberg     24
20 Tim Burton           16
21 Wes Craven           12
22 Woody Allen          18

## Exercícios 7.2.7

1) a)

In [47]:
imdb_diretores_nota <- imdb %>% group_by(diretor) %>% summarise(media_nota_imdb = mean(nota_imdb, 
    na.rm = T)) %>% select(diretor, media_nota_imdb)

head(imdb_diretores_nota)

  diretor         media_nota_imdb
1 A. Raven Cruz   1.9
2 Aaron Hann      6.0
3 Aaron Schneider 7.1
4 Aaron Seltzer   2.7
5 Abel Ferrara    6.6
6 Adam Carolla    6.1

b)

In [49]:
head(left_join(imdb, imdb_diretores_nota, by = "diretor") %>% arrange(diretor))

  titulo               ano  diretor         duracao cor
1 The Helix... Loaded  2005 A. Raven Cruz    97     Color
2 Circle               2015 Aaron Hann       87     Color
3 Get Low              2009 Aaron Schneider 100     Color
4 Date Movie           2006 Aaron Seltzer    85     Color
5 The Funeral          1996 Abel Ferrara     99     Color
6 Road Hard            2015 Adam Carolla     98     Color
  generos                                pais classificacao       orcamento
1 Action|Adventure|Comedy|Fantasy|Sci-Fi USA  A partir de 18 anos  1000000
2 Drama|Horror|Mystery|Sci-Fi|Thriller   USA  Outros                    NA
3 Drama|Mystery                          USA  A partir de 13 anos  7500000
4 Comedy|Romance                         USA  A partir de 13 anos 20000000
5 Crime|Drama                            USA  A partir de 18 anos 12500000
6 Comedy                                 USA  Outros               1500000
  receita  nota_imdb likes_facebook ator_1              ator_2
1       NA 1.9       128            Scott Levy          Vanilla Ice
2       NA 6.0         0            Jordi Vilasuso      Michael McLafferty
3  9176553 7.1         0            Bill Murray         Robert Duvall
4 48546578 2.7       806            Alyson Hannigan     Carmen Electra
5  1227324 6.6       344            Isabella Rossellini Vincent Gallo
6   105943 6.1       212            Jay Mohr            Jim O'Heir
  ator_3                media_nota_imdb
1 Jennifer Sky          1.9
2 Kaiwi Lyman-Mersereau 6.0
3 Bill Cobbs            7.1
4 Fred Willard          2.7
5 Gretchen Mol          6.6
6 David Alan Grier      6.1